@import '/styles/globals';

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 10%);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 15px 5%;
    z-index: 100;

    li {
        display: flex;

        a {
            padding: 0 20px;
            display: flex;
        }
    }
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
}

canvas {
    width: 80px;
    height: 80px;
}