@import '/styles/globals';

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 10%);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 15px 5%;
    z-index: 100;

    div {
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            padding-right: 30px;
            background: $gradient_background_faded;
            backdrop-filter: blur(15px);
            height: 50px;

            a {
                padding: 0 20px;
                display: flex;
            }
        }
    }
}

.canvas_navbar {
    position: fixed;
    top: 25px;
    left: 5%;
    width: 60px;
    height: 60px;
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }
}