@import '/styles/globals';

.navbar {
    display: flex;
    background: $menu_background_horizontal;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: $large 0;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    .canvas_navbar {
        position: fixed;
        width: 60px;
        height: 60px;
        top: $small;
        left: $large;
    }

    .menu {
        position: fixed;
        right: $large;
        width: $small;
        height: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transform: translateX(-70%);

        .line {
            height: 4px;
            width: calc($small * 1.75);
            border-radius: 3px;
            transition: transform .5s ease, margin .5s ease;
        }

        .top {
            background: $indigo;
        }

        .middle {
            background: $blend;
        }

        .bottom {
            background: $magenta;
        }

        &.open {
            .top {
                transform: rotate(45deg) translateX(7px) translateY(7px);
            }

            .middle {
                transform: scaleX(0);
            }

            .bottom {
                transform: rotate(-45deg) translateX(7px) translateY(-7px);
            }
        }
    }

    .menu_container {
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        background: $menu_background;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: opacity .75s ease, visibility .75s ease;

        .menu_links {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;

            h2 {
                color: $light_grey;
                line-height: 0.45;
                transition: all 0.3s ease-in-out;

                &:hover {
                    color: $white;
                    transform: translateX($small);
                }
            }

            .link {
                max-width: 25%;
            }
        }
    }

    .menu.open~.menu_container {
        opacity: 1;
        visibility: visible;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .canvas_navbar {
            left: $medium;
        }

        .menu_container {
            .menu_links {
                h2 {
                    line-height: 0.35;
                }

                .link {
                    max-width: 40%;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .canvas_navbar {
            left: $small;
        }

        .menu_container {
            .menu_links {
                h2 {
                    line-height: 0;
                }

                .link {
                    max-width: 50%;
                }
            }
        }
    }
}