@import '/styles/globals';

.strip {
    position: fixed;
    top: 0;
    width: 1px;
    height: 100vh;
    opacity: 0.35;
    z-index: -1;
}

.strip {
    background: linear-gradient(180deg, $white 0%, $background 100%);
}

.one {
    left: 9.75%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        left: calc($small * 0.6);
    }

    @media screen and (max-width: 767px) {
        left: calc($small * 0.6);
    }
}

.two {
    left: 42%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        left: 33%;
    }

    @media screen and (max-width: 767px) {
        left: 33%;
    }
}

.three {
    right: 42%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        right: 33%;
    }

    @media screen and (max-width: 767px) {
        right: 33%;
    }
}

.four {
    right: 9.75%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        right: calc($small * 0.6);
    }

    @media screen and (max-width: 767px) {
        right: calc($small * 0.6);
    }
}