@import '/styles/globals';

.strip,
.overlay_1,
.overlay_2,
.overlay_3 {
    position: fixed;
    top: 0;
    width: 1px;
    height: 100vh;
    opacity: 0.25;
    z-index: -1;
}

.strip {
    background: linear-gradient(180deg, $white 0%, $background 100%);
}

.overlay_1,
.overlay_2,
.overlay_3 {
    background: $gradient_overlay;
}

.overlay_1 {
    left: 9.75%;
    width: 32.25%;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 32.25%;
    }

    @media screen and (max-width: 767px) {
        left: calc($small * 0.6);
        width: calc(33% - $small * 0.6);
    }
}

.overlay_2 {
    left: 27.5%;
}

.overlay_3 {
    left: 50%;
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1024px) {
    .one {
        left: 9.75%;
    }
    
    .two {
        left: 42%;
    }
    
    .three {
        right: 42%;
    }
    
    .four {
        right: 9.75%;
    }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .one {
        left: calc($small * 0.6);
    }
    
    .two {
        left: 33%;
    }
    
    .three {
        right: 33%;
    }
    
    .four {
        right: calc($small * 0.6);
    }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    .one {
        left: calc($small * 0.6);
    }
    
    .two {
        left: 33%;
    }
    
    .three {
        right: 33%;
    }
    
    .four {
        right: calc($small * 0.6);
    }
}