@import '/styles/globals';

// ------------------------------ Strips ------------------------------
.strip {
    position: fixed;
    width: 1px;
    height: 100vh;
    background: linear-gradient(180deg, $white 0%, $background 100%);
    opacity: 0.25;
    z-index: -1;
}

.one,
.two,
.three,
.four {
    top: 0;
}

// ------------------------------ Overlay ------------------------------
.overlay_1,
.overlay_2,
.overlay_3,
.overlay_4 {
    background: $gradient_overlay;
    position: fixed;
    height: 100vh;
    width: 22.5%;
    top: 0;
    opacity: 0.25;
    z-index: -1;
    display: none;
}

.overlay_1 {
    left: 5%;
}

.overlay_2 {
    left: 27.5%;
}

.overlay_3 {
    left: 50%;
}

.overlay_4 {
    left: 72.5%;
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1024px) {
    .one {
        left: 9.75%;
    }
    
    .two {
        left: 42%;
    }
    
    .three {
        right: 42%;
    }
    
    .four {
        right: 9.75%;
    }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .one {
        left: calc($small * 0.6);
    }
    
    .two {
        left: 33%;
    }
    
    .three {
        right: 33%;
    }
    
    .four {
        right: calc($small * 0.6);
    }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    .one {
        left: calc($small * 0.6);
    }
    
    .two {
        left: 33%;
    }
    
    .three {
        right: 33%;
    }
    
    .four {
        right: calc($small * 0.6);
    }
}