@import '/styles/globals';

#about {    
    .paragraph_1,
    .paragraph_2,
    .paragraph_3,
    .paragraph_4 {
        margin: 0 $small;
    }

    .paragraph_1 {
        grid-area: 2 / 3 / 3 / 9;
    }

    .paragraph_2 {
        grid-area: 3 / 5 / 4 / 11;
    }

    .paragraph_3 {
        grid-area: 4 / 3 / 5 / 9;
    }

    .paragraph_4 {
        grid-area: 5 / 5 / 6 / 11;
    }

    .quote_button {
        grid-area: 7 / 1 / 8 / 13;
        margin: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .paragraph_1 {
            grid-area: 2 / 3 / 3 / 8;
        }

        .paragraph_2 {
            grid-area: 3 / 2 / 4 / 7;
        }

        .paragraph_3 {
            grid-area: 4 / 3 / 5 / 8;
        }

        .paragraph_4 {
            grid-area: 5 / 2 / 6 / 7;
        }

        .quote_button {
            grid-area: 6 / 1 / 7 / 9;
        }
    }

    @media screen and (max-width: 767px) {

        .paragraph_1 {
            grid-area: 2 / 1 / 3 / 7;
        }

        .paragraph_2 {
            grid-area: 3 / 1 / 4 / 7;
        }

        .paragraph_3 {
            grid-area: 4 / 1 / 5 / 7;
        }

        .paragraph_4 {
            grid-area: 5 / 1 / 6 / 7;
        }

        .quote_button {
            grid-area: 6 / 1 / 7 / 7;
        }
    }
}