@import '/styles/globals';

#form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: $small $large;
    gap: $small;

    div {
        margin: $small 0;
    }

    .small, .large {
        background: $background_medium_faded;
        backdrop-filter: blur(4px);
        border-radius: calc($small * 0.25);
        border: none;
        margin: calc($small * 0.25) 0;
    }

    .small {
        height: calc($large * 1);
    }

    .large {
        height: calc($large * 2);
    }

    select {
        background: $white;
        backdrop-filter: blur(4px);
        border-radius: calc($small * 0.25);
        border: none;
        margin: calc($small * 0.25) 0;
    }

    .basic_info {
        grid-area: 1 / 3 / 2 / 7;
        display: flex;
        flex-direction: column;
    }

    .about_project {
        grid-area: 2 / 3 / 3 / 7;
        display: flex;
        flex-direction: column;
    }

    .additional_info {
        grid-area: 1 / 7 / 3 / 11;
        display: flex;
        flex-direction: column;
    }

    .submit {
        grid-area: 3 / 5 / 4 / 9;
    }

    .after_submit {
        grid-area: 4 / 4 / 5 / 10;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(8, 1fr);
        margin: $small $medium;


    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(6, 1fr);
        margin: $small $small;

        .basic_info {
            grid-area: 1 / 1 / 2 / 7;
            display: flex;
            flex-direction: column;
        }
    
        .about_project {
            grid-area: 2 / 1 / 3 / 7;
            display: flex;
            flex-direction: column;
        }
    
        .additional_info {
            grid-area: 3 / 1 / 4 / 7;
            display: flex;
            flex-direction: column;
        }
    
        .submit {
            grid-area: 4 / 1 / 5 / 7;
        }
    
        .after_submit {
            grid-area: 5 / 1 / 6 / 7;
        }
    }
}