@import '/styles/globals';

#hero {
    .heading {
        align-items: flex-start;
        align-content: start;
        justify-content: flex-start;
    }
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1024px) {
    #hero {
        .heading {
            grid-area: 1 / 7 / 2 / 13;
        }
    }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #hero {
        .heading {
            grid-area: 1 / 4 / 2 / 9;
        }
    }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
    #hero {
        .heading {
            grid-area: 1 / 1 / 2 / 7;
        }
    }
}