@import '/styles/globals';

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: $small $large;
    padding: calc($large * 2) 0;
    gap: $small;

    .heading {
        grid-area: 1 / 2 / 2 / 7;
        text-transform: uppercase;

        h3, h4 {
            text-transform: capitalize;
        }

        h3 {
            color: $dark_grey;
        }
        
        p {
            color: $white;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(8, 1fr);
        margin: $small $medium;

        .heading {
            grid-area: 1 / 2 / 2 / 6;
        }
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(6, 1fr);
        margin: $small $small;

        .heading {
            grid-area: 1 / 1 / 2 / 6;
        }
    }
}