/* ------------------------------ Fonts ------------------------------ */
@font-face {
  font-family: "Contralto";
  src: url(../public/fonts/Contralto/contraltobig-bold-webfont.woff);
}

@font-face {
  font-family: "Proxima_Nova";
  src: url(../public/fonts/Proxima_Nova/Proxima_Nova_Light.otf);
}

/* ------------------------------ Variables ------------------------------ */
$indigo: #6526D1;
$magenta: #D02670;
$background: #070707;
$background_medium_faded: rgba(122, 122, 122, 0.15);
$background_faded: rgba(26, 26, 26, 0.25);
$dark_grey: #7A7A7A;
$light_grey: #D0D0D0;
$white: #FFFFFF;
$gradient_indigo: linear-gradient(90deg, $indigo 0%, $magenta 100%);
$gradient_indigo_faded: linear-gradient(90deg, rgba(rgba(101, 38, 209, 1), 0.95) 0%, rgba(208, 38, 112, 0.75) 100%);
$gradient_background: linear-gradient(90deg, rgba(122, 122, 122, 0.75) 0%, rgba(122, 122, 122, 0) 80%);
$gradient_background_faded: linear-gradient(90deg, rgba(122, 122, 122, 0.5) 0%, rgba(122, 122, 122, 0) 80%);
$gradient_overlay: linear-gradient(0deg, rgba(122, 122, 122, 0) 0%, rgba(122, 122, 122, 0.5) 100%);

// ---------- Fonts ----------
$header_font: 'Contralto',
sans-serif;
$text_font: 'Proxima_Nova',
sans-serif;

// ---------- Fluid fonts ----------
$button: clamp(0.88rem, 0.19vw + 0.83rem, 1rem);
$paragraph: clamp(1.09rem, 0.65vw + 0.93rem, 1.51rem);
$header_4: clamp(1.37rem, 1.43vw + 1.01rem, 2.3rem);
$header_3: clamp(1.71rem, 2.72vw + 1.03rem, 3.48rem);
$header_2: clamp(2.14rem, 4.82vw + 0.93rem, 5.27rem);
$header_1: clamp(2.67rem, 8.17vw + 0.63rem, 7.98rem);

// Basiscs
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
}

body {
  background: $background;
  color: $light_grey;
  font-family: $text_font;
  font-size: $paragraph;
  line-height: 1.3;
  margin: auto;
  user-select: none;
  overflow-x: hidden;
}

/* ------------------------------ Fonts ------------------------------ */

h1,
h2,
h3,
h4 {
  color: $white;
  font-family: $header_font;
  margin: 20px auto;
  line-height: 1;
}

h1 {
  font-size: $header_1;
}

h2 {
  font-size: $header_2;
}

h3 {
  font-size: $header_3;
}

h4 {
  font-size: $header_4;
}

p {
  font-family: $text_font;
  font-size: $paragraph;
  color: $light_grey;
  margin: 0;
}

a {
  font-family: $header_font;
  font-size: $paragraph;
  line-height: 1;
  color: $white;
  text-decoration: underline $dark_grey 2px;
  transition: all 0.3s ease-in-out;

  &:hover {
    text-decoration: underline $indigo 2px;
  }

  &:focus {
    color: $white;
    opacity: 1;
  }
}

.indigo {
  color: $indigo;
}

.magenta {
  color: $magenta;
}

.link {
  font-family: $text_font;
  font-size: $button;
  color: $light_grey;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &:focus {
    color: $white;
    opacity: 1;
  }
}

.gradientBorder {
  background: linear-gradient(180deg, $indigo 0%, $magenta 100%);
  background-size: 3px;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ------------------------------ Buttons ------------------------------ */
.button {
  background: $gradient_indigo_faded;
  color: $white;
  font-family: $text_font;
  font-size: $button;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.3s ease-in-out;
  margin: 1rem auto;

  &:hover {
    background: $gradient_indigo;
  }
}

/* ------------------------------ Sections ------------------------------ */
section {
  display: grid;
  margin: 3vh 5vw;
}

/* ------------------------------ Desktop ------------------------------ */
@media screen and (min-width: 1024px) {
  section {
    grid-template-columns: repeat(12, 1fr);
    gap: 75px;
  }
}

/* ------------------------------ Tablet ------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    grid-template-columns: repeat(8, 1fr);
    gap: 50px;
  }
}

/* ------------------------------ Smartphone ------------------------------ */
@media screen and (max-width: 767px) {
  section {
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
  }
}